# Ignore virtual environments in backend and gateway
backend/.venv/
gateway/.venv/
utils/.venv/

backend/__pycache__/
gateway/__pycache__/
utils/__pycache__/

# Ignore node_modules in frontend
frontend/node_modules/