# Ignore virtual environments in backend and gateway
backend/.venv/
gateway/.venv/
utils/.venv/

backend/__pycache__/
gateway/__pycache__/
utils/__pycache__/

gateway/build/
gateway/dist/
gateway/*.spec

# Ignore node_modules in frontend
frontend/node_modules/